{%- assign banner = site.data.banner_images -%}
<script> 
    var bannerItems = [{% for b in banner %}{ "objectid": {{ b.objectid | jsonify }}, "path": "{{ b.path }}", "filename": "{{ b.filename }}", "position": "{{ b.position }}" }{% unless forloop.last %}, {% endunless %}{% endfor %}];

    function random_item(items){
        return items[Math.floor(Math.random()*items.length)]; 
        }
    var value = random_item(bannerItems);
    
    document.getElementById('home-banner').style.cssText = 'background-image:url(https://www.lib.uidaho.edu/digital/objects/digital/' + (value.filename) + '.jpg);background-position:' + (value.position) + ';background-size: cover;background-repeat: no-repeat;';

    bannerItems = bannerItems.filter(function(item) { 
        return item !== value
    });

    var feature = '<small><a style="background:rgb(0,0,0,.5);padding:.5em" class="text-info" href="https://www.lib.uidaho.edu/digital/' + (value.path) + '/items/' + (value.objectid) + '.html">Featured Image</a></small>';

    document.getElementById('feature-image').innerHTML = feature;
    
</script>