{%- assign campus = site.data.digital_all_collections | where: "type","CampusCollection" -%}

<script> 
    var campusItems = [ {% for c in campus %}{ "title": {{ c.colltitle | jsonify }}, "image": "{{ c.image }}", "website": "{{ c.website }}", "description": "{{ c.shortdesc }}" }{% unless forloop.last %}, {% endunless %}{% endfor %}];
    var campusImage = document.getElementById("campusInner");
    campusItems.sort(function() { return 0.5 - Math.random() });
    var i;
    for (i=0; i < 3; i++) {
        card = "<div class='col-md-10 my-3'><div class='card text-center border-secondary'><img class='card-img-top' src=" + campusItems[i].image + " alt='Card image cap'><div class='card-body'><h4 class='card-title'><a href='" + campusItems[i].website + "'>" + campusItems[i].title + "</a></h4><p class='card-text'>" + campusItems[i].description + "</p></div><div class='card-footer'><a href='" + campusItems[i].website + "' class='btn btn-clearwater'>View Project</a></div></div></div>";
        campusImage.innerHTML += card;
    }
</script>

<!--<h5 class='card-title text-white text-center py-2'>" + campusItems[i].title + "</h5>-->