{%- assign cdil = site.data.digital_all_collections | where: "type","CDIL" -%}

<script> 
    var cdilItems = [ {% for c in cdil %}{% if c.status != 'noshow' %}{ "title": {{ c.colltitle | jsonify }}, "image": "{{ c.image }}", "website": "{{ c.website }}", "description": "{{ c.shortdesc }}" }{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}];
    var cdilImage = document.getElementById("cdilInner");
    cdilItems.sort(function() { return 0.5 - Math.random() });
    var i;
    for (i=0; i < 3; i++) {
        card = "<div class='col-md-10 my-3'><div class='card text-center border-secondary'><img class='card-img-top' src=" + cdilItems[i].image + " alt='Card image cap'><div class='card-body border-top'><h4 class='card-title'><a href='" + cdilItems[i].website + "'>" + cdilItems[i].title + "</a></h4><p class='card-text'>" + cdilItems[i].description + "</p></div><div class='card-footer'><a href='" + cdilItems[i].website + "' class='btn btn-clearwater btn-round'>View Project</a></div></div></div>";
        cdilImage.innerHTML += card;
    }
</script>

<!--card = "<div class='col-md-10 my-3'><div class='card text-center border-secondary'><a href='#" + cdilItems[i].collapse + "' id='collapseOne' data-toggle='collapse' aria-expanded='false' aria-controls='" + cdilItems[i].collapse + "'><img class='card-img-top' src=" + cdilItems[i].image + " alt='Card image cap'><div class='highlight text-center py-2 px-2'>" + cdilItems[i].title + "</div></a><div class='collapse' id='" + cdilItems[i].collapse +"' aria-labelledby='collapseOne'><div class='card-body border-top'><p class='card-text'>" + cdilItems[i].description + "</p></div><div class='card-footer'><a href='" + cdilItems[i].website + "' class='btn btn-clearwater btn-round'>View Project</a></div></div></div></div>";-->