{%- assign buttons = site.data.browsebuttons -%}
{%- if page.layout == "home-infographic" -%}
<style>
#home-title-box {
    padding-top: 12em;
    padding-bottom: 2em;
}
</style>

<script>
    function search_collections() {
        var query = document.getElementById("search-collections").value;
        window.open("{{ '/collections.html' | relative_url }}#" + encodeURI(query) , "_self" );
    }
</script>
<div id="home-banner" class="jumbotron jumbotron-fluid mt-5 p-0" aria-label="{{ site.data.theme.home-banner-image-title }}">
    <div class="container">
        <div class="row justify-content-center">
            <div id="home-title-box" class="col-md-8 text-center">
                <form role="search" id="collection-search" class="border-white" onsubmit="search_collections(); return false;">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg" id="search-collections" placeholder="Find a collection" > 
                        <div class="input-group-append">
                            <button class="btn btn-ponderosa-pine rounded-right border border-light" type="submit" title="Search" alt="Search" id="search-collections-button" >Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 text-center pb-5">
                <div class="card mb-5 browse-card">
                    <div class="card-body">
                        <h5 class="card-title text-light">Browse Suggested Topics:</h5>
                            {% for b in buttons %}
                            {%- if b.button == 'btn' -%}
                            <a class="btn btn-light my-2 mx-1" href="{{ b.title | strip | url_param_escape | prepend: '/collections.html#' | relative_url }}">{{ b.title }}</a>
                            {% endif %}
                            {%- endfor -%}
                            <br>
                        <a class="btn btn-info mt-4 mx-2 px-3" href="{{ '/collections.html' | relative_url }}">Browse All Collections</a>
                        <button type="button" class="btn btn-pride-gold mt-4 mx-2 px-3" id="search-collections-modal-button" data-toggle="modal" data-target="#search-coll-mod">Search Across All Collections</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="feature-image" class="text-right p-1"></div>
</div>

{%- endif -%}