{% assign filters = site.data.browsebuttons %}

<div id="sidebar" class="py-3 border-right d-none d-md-block pl-5">
    <h3 class="pt-3">Search by:</h3>
    <hr>
    <nav id="sidenav">
        <ul class="list-unstyled components">
            <li class="border-bottom py-2 pl-1 pr-4">
                <a href="#locations" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Locations</a>
                <ul class="collapse list-unstyled" id="locations">
                    {% for f in filters %}
                    {% if f.category == 'Locations' %}
                    <li class="pl-3 mt-1 {% if page.url contains f.title %} active {% endif %}">
                        <a href="{{ f.title | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ f.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="border-bottom py-2 pl-1 pr-4">
                <a href="#subjects" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subjects</a>
                <ul class="collapse list-unstyled" id="subjects">
                    {% for f in filters %}
                    {% if f.category == 'Subjects' %}
                    <li class="pl-3 mt-1 {% if page.url contains f.title %} active {% endif %}">
                        <a href="{{ f.title | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ f.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="border-bottom py-2 pl-1 pr-4">
                <a href="#media-types" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Media Types</a>
                <ul class="collapse list-unstyled" id="media-types">
                    {% for f in filters %}
                    {% if f.category == 'Media Types' %}
                    <li class="pl-3 mt-1 {% if page.url contains f.title %} active {% endif %}">
                        <a href="{{ f.title | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ f.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</div>