
<nav class="py-2 navbar bg-dark">
    <!-- logos -->
    <div class="col-9 py-2 d-flex align-items-center">
        <a id="banner-home" title="University of Idaho Library" class="navbar-brand" href="https://www.lib.uidaho.edu/">
        <img class="img-fluid lib-logo-lg" src="{{ 'idaho.png' | relative_url }}" alt="University of Idaho Library [logo]"></a>

        <a id="banner-home" title="Digital Initiatives" class="" href="{{ '/' | relative_url }}">
        <img class="img-fluid pl-3 lib-logo-md" src="https://www.lib.uidaho.edu/media/digital/bannerlogo_allwhite.png" alt="Digital Initiatives [logo]"></a>

        <!-- sidebar nav -->
        <div class="col-3 float-right text-right d-none d-md-block">
            {% include sidebar.html %}
        </div>
    </div>
</nav>