{% assign buttons = site.data.browsebuttons %}
{% if page.layout == "home-infographic" %}
<style>
#home-title-box {
    padding-top: 12em;
    padding-bottom: 2em;
}
</style>

<script>
    function search_all() {
        var query = document.getElementById("search-all").value;
        window.open("{{ '/browse.html' | relative_url }}#" + encodeURI(query) , "_blank" );
    }
</script>
<div id="home-banner" class="jumbotron jumbotron-fluid mb-0 p-0" aria-label="{{ site.data.theme.home-banner-image-title }}">
    <div class="container">
        <div class="row justify-content-center">
            <div id="home-title-box" class="col-md-8 text-center">
                <form role="search" id="search" onsubmit="search_all(); return false;">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control form-control-lg" id="search-all" placeholder="Find a collection" > 
                    <div class="input-group-append">
                        <button class="btn btn-clearwater" type="submit" title="Search" alt="Search" id="search-all-button" >Search</button>
                        <button type="button" class="btn btn-secondary" data-backdrop="false">Browse</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 text-center pb-5">
                <div class="card mb-5" style="background:rgba(52, 58, 64, 0.8)">
                    <div class="card-body">
                        <h5 class="card-title text-light">Search Suggested Topics:</h5>
                            {% for b in buttons %}
                            {% if b.button == 'btn' %}
                            <a role="button" class="btn btn-light my-2 mx-1" href="{{ b.title | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ b.title }}</a>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="feature-image" class="text-right p-1"></div>
</div>

{%- endif -%}