/* base */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $black-color;
}
a {
    color: $clearwater;
    text-decoration: none;
    font-weight: normal;
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/* banner */
.title-card {
    background-color: #25242485;
    background-color: rgba(37, 36, 36, 0.52);
    color: white !important;
    margin:0px -22px;}

#title {
    a { 
        font-size: 35px;
        font-weight: 300;
        color: $text-color;
    }
    h1 {
        line-height: 1;
    }
    p {
        font-size: 14.5px;
        line-height: 1;
    }
}

.lib-logo-lg {
    max-height: 90px;
    padding-left: 70px;
}

.lib-logo-md {
  max-height: 40px;
}

/* nav bar */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.75);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* item page */
.gallery-img {
    cursor: pointer;
}
dt {
    font-size:20px;
}
.mp3-item-player{ width:100%; }
#item-nav {
    a { 
        position: absolute;
        top:500px;
        opacity:.3;
        &:hover{opacity:1}
        @include media-query($on-palm) {
            top:200px; 
        }
    }
    .previous { left:10px; }
    .next{ right:10px; }
}

/* browse */
.item .card-title {
    font-size:1.5rem;
    background-color: rgba(37, 36, 36, 0.72);
    /*
    margin-left: -50%;
    margin-right: -50%;
    */
}
.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}
/* footer */
.collection-footer{
    background-color: $black-color;
}
/* map */
#map { height: 750px; z-index: 98; }
.mapthumb {
    height: 100px;
    box-shadow: 2px 2px 2px grey;
}

/* timeline */
#timeline .img-thumbnail { height: 110px; }

/* Subject Cloud */
.tagcloud0{
    font-size:0.8em;
    z-index: 10; }
.tagcloud0 a {
color: #1D1E33; }

.tagcloud1{
font-size:0.8em;
z-index: 9; }

.tagcloud1 a {
color: #18171C; }

.tagcloud2{
font-size:1.2em;
z-index: 8; }

.tagcloud2 a {
color: #1E2460; }

.tagcloud3{
font-size:1.4em;
z-index: 7; }

.tagcloud3 a {
color: #3E5F8A; }

.tagcloud4{
font-size:1.7em;
z-index: 6; }

.tagcloud4 a {
color: #26252D; }

.tagcloud5{
font-size:2.0em;
z-index: 5; }

.tagcloud5 a {
color: #025669; }

.tagcloud6{
font-size:2.4em;
z-index: 4; }

.tagcloud6 a {
color: #0E294B; }

.tagcloud7{
font-size:2.7em;
z-index: 3; }

.tagcloud7 a {
color: #231A24; }

.tagcloud8{
font-size:3em;
z-index: 2; }

.tagcloud8 a {
color: #3B83BD; }

.tagcloud9{
font-size:3.3em;
z-index: 1; }

.tagcloud9 a {
color: #1E213D; }

.tagcloud10{
font-size:3.6em;
z-index: 0; }

.tagcloud10 a {
color: #606E8C; }

#cloud {
margin: 0px 30px 30px;
padding: 4px; }
  

/* all Collections nav */
.ijclist{
    padding-left:0px;
}
#ijclink{
    font-size:13px !important;
    margin-left:20px;
}
.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
}
.collection-list{
    list-style: none;
    padding-left:10px;
    ul{
        list-style: none;
        padding-left:20px; 
    }
    a{
        font-weight: normal;
    }
}
#collectionslink {
    cursor: pointer;
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-size: 14px;
    background: #999;
    border-radius: 0px 0px 0px 20px;
    padding: 5px 20px;
    border-bottom: 1px #dadada solid;
    margin: 0;
    font-weight: 300;
}
#collectionslink p {
    margin: 0; 
}

/*modal*/

.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
  width: 600px;
  padding-top: 100px;
	height: 50%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}

.modal-backdrop {
  background-color: transparent !important;
}


/* Sidebar */
  /*
   * Sidebar
   *
   * The sidebar is the drawer, the item we are toggling with our handy hamburger
   * button in the corner of the page.
   *
   * This particular sidebar implementation was inspired by Chris Coyier's
   * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
   * comments by a reader. It modifies both implementations to continue using the
   * checkbox (no change in URL means no polluted browser history), but this uses
   * `position` for the menu to avoid some potential content reflow issues.
   *
   * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
   */
  
  /* Style and "hide" the sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -18rem;
    width: 18rem;
    visibility: hidden;
    overflow-y: auto;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: .875rem; /* 15px */
    color: rgba(255,255,255,.6);
    background-color: #202020;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
  }
  @media (min-width: 30em) {
    .sidebar {
      font-size: 1.15rem; /* 14px */
      right: -24rem;
      width: 24rem;
    }
  }
  
  /* Sidebar content */
  .sidebar a {
    font-weight: normal;
    color: #fff;
  }
  .sidebar-item {
    padding: 1rem;
  }
  .sidebar-item p:last-child {
    margin-bottom: 0;
  }
  
  /* Sidebar nav */
  .sidebar-nav {
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
  .sidebar-nav-item {
    display: block;
    padding: .5rem 1rem;
    border-top: 1px solid rgba(255,255,255,.1);
    font-size:20px;
  }
.dropdown-item{font-size:14px;}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;}

  .sidebar-nav-item.active,
  a.sidebar-nav-item:hover,
  a.sidebar-nav-item:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,.1);
    border-color: transparent;
  }
  
  @media (min-width: 48em) {
    .sidebar-item {
      padding: 1.45rem;
    }
    .sidebar-nav-item {
      padding-left:  2.25rem;
      padding-right: 1.25rem;
    }
  }
  
  /* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
  .sidebar-checkbox {
    position: absolute;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  
  /* Style the `label` that we use to target the `.sidebar-checkbox` */
  .sidebar-toggle {
    position: absolute;
    top:  2rem;
    right: 7rem;
    display: block;
    padding: .25rem .75rem;
    color: #505050;
    background-color:transparent;
    border-radius: .25rem;
    cursor: pointer;
  }
  
  .sidebar-toggle:before {
    display: inline-block;
    width: 2.5rem;
    height: 2.15rem;
    content: "";
    background-image: -webkit-linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
    background-image:    -moz-linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
    background-image:     -ms-linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
    background-image:         linear-gradient(to bottom, #555, #555 20%, transparent  20%, transparent 40%, #555 40%, #555 60%, transparent  60%, transparent  80%, #555 80%, #555 100%);
  }
  
 
  #sidebar-checkbox:checked ~ .sidebar-toggle {
    color: #fff;
    background-color: #555;
    padding-top:8px;
  }
  

  #sidebar-checkbox:checked ~ .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
    background-image:         linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
  }
  
  @media (min-width: 30.1em) {
    .sidebar-toggle {
      position: fixed;
    }
  }
  
  @media print {
    .sidebar-toggle {
      display: none;
    }
  }
  
  /* Slide effect
   *
   * Handle the sliding effects of the sidebar and content in one spot, seperate
   * from the default styles.
   *
   * As an a heads up, we don't use `transform: translate3d()` here because when
   * mixed with `position: fixed;` for the sidebar toggle, it creates a new
   * containing block. Put simply, the fixed sidebar toggle behaves like
   * `position: absolute;` when transformed.
   *
   * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
   */
  
  .wrap,
  .sidebar,
  .sidebar-toggle {
    -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .wrap,
  .sidebar-toggle {
    -webkit-transition: -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out;
  }
  
  #sidebar-checkbox:checked + .sidebar {
    z-index: 10;
    visibility: visible;
  }
  #sidebar-checkbox:checked ~ .sidebar,
  #sidebar-checkbox:checked ~ .wrap,
  #sidebar-checkbox:checked ~ .sidebar-toggle {
    -webkit-transform: translateX(-18rem);
        -ms-transform: translateX(-18rem);
            transform: translateX(-18rem);
  }
  
  @media (min-width: 30em) {
    #sidebar-checkbox:checked ~ .sidebar,
    #sidebar-checkbox:checked ~ .wrap,
    #sidebar-checkbox:checked ~ .sidebar-toggle {
      -webkit-transform: translateX(-24rem);
          -ms-transform: translateX(-24rem);
              transform: translateX(-24rem);
    }
  }