/* base */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $black-color;
}
a {
    color: $clearwater;
    text-decoration: none;
    font-weight: normal;
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

.split-background {
    background: linear-gradient(to right, #e8e8e8 0%, #e8e8e8 50%, #fdfdfd 50%, #fdfdfd 100%);
    padding-top: 100px;
}

/* banner */
.title-card {
    background-color: #25242485;
    background-color: rgba(37, 36, 36, 0.52);
    color: white !important;
    margin:0px -22px;}

#title {
    a { 
        font-size: 35px;
        font-weight: 300;
        color: $text-color;
    }
    h1 {
        line-height: 1;
    }
    p {
        font-size: 14.5px;
        line-height: 1;
    }
}

.browse-card {
    background: rgba(52, 58, 64, 0.8);
}

#home-banner {
    padding-top: 100px;
}

/* nav */

.lib-logo-lg {
    max-height: 80px;
}

.dig-logo-md {
    max-height: 40px;
}

@include media-query($on-palm) {
    .navbar {
        min-height:100px; 
    }
}

@include media-query($on-laptop) {
    .navbar {
        min-height:100px; 
    }
}

@include media-query($on-desktop) {
    .navbar {
        min-height:100px; 
    }
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-default { 
  transition:500ms ease;
  background: #343a40;
}

.navbar-default.scrolled {
  background:rgba(52, 58, 64, 0.8);
}

.navbar-default.scrolled .lib-logo-lg {
    display: none;
}

/* item page */
.gallery-img {
    cursor: pointer;
}
dt {
    font-size:20px;
}
.mp3-item-player{ width:100%; }
#item-nav {
    a { 
        position: absolute;
        top:500px;
        opacity:.3;
        &:hover{opacity:1}
        @include media-query($on-palm) {
            top:200px; 
        }
    }
    .previous { left:10px; }
    .next{ right:10px; }
}

/* squares */
.square {
    height: 0;
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: 0.3s;
}

.square .card-body {
    background:rgba(37, 36, 36, 0.829);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    visibility:hidden;
}

.square:hover .card-body {
    visibility:visible;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* collection cards */

.custom-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
} 

.custom-card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.custom-card .card-image img {
    border-radius: 6px;
    pointer-events: none;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.img-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.btn-round{
    border-radius: 30px;
}

.section-gray {
    background: #e8e8e8;
}

/* footer */
.collection-footer{
    background-color: $black-color;
}
/* map */
#map { height: 750px; z-index: 98; }
.mapthumb {
    height: 100px;
    box-shadow: 2px 2px 2px grey;
}

/* timeline */
#timeline .img-thumbnail { height: 110px; }

/* Subject Cloud */
.tagcloud0{
    font-size:0.8em;
    z-index: 10; }
.tagcloud0 a {
color: #1D1E33; }

.tagcloud1{
font-size:0.8em;
z-index: 9; }

.tagcloud1 a {
color: #18171C; }

.tagcloud2{
font-size:1.2em;
z-index: 8; }

.tagcloud2 a {
color: #1E2460; }

.tagcloud3{
font-size:1.4em;
z-index: 7; }

.tagcloud3 a {
color: #3E5F8A; }

.tagcloud4{
font-size:1.7em;
z-index: 6; }

.tagcloud4 a {
color: #26252D; }

.tagcloud5{
font-size:2.0em;
z-index: 5; }

.tagcloud5 a {
color: #025669; }

.tagcloud6{
font-size:2.4em;
z-index: 4; }

.tagcloud6 a {
color: #0E294B; }

.tagcloud7{
font-size:2.7em;
z-index: 3; }

.tagcloud7 a {
color: #231A24; }

.tagcloud8{
font-size:3em;
z-index: 2; }

.tagcloud8 a {
color: #3B83BD; }

.tagcloud9{
font-size:3.3em;
z-index: 1; }

.tagcloud9 a {
color: #1E213D; }

.tagcloud10{
font-size:3.6em;
z-index: 0; }

.tagcloud10 a {
color: #606E8C; }

#cloud {
margin: 0px 30px 30px;
padding: 4px; }

/* sidebar */

#sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#sidenav {
    font-size:18px;
    margin-top: 25px;
    a {
        font-weight: 300 !important;
        color: $text-color;
    }
    li { border-color: #d5d5d5 !important; }
}

#page-nav {
    //width: 250px;
    font-size:18px;
    a {
        font-weight: 300 !important;
    }
    li { border-color: #d5d5d5 !important; }
}
.dropdown-toggle::after {
    margin-left: 15px;
}
.page-block { 
    background: $background-color;
}

/* all Collections nav */
.ijclist{
    padding-left:0px;
}
#ijclink{
    font-size:13px !important;
    margin-left:20px;
}
.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
}
.collection-list{
    list-style: none;
    padding-left:10px;
    ul{
        list-style: none;
        padding-left:20px; 
    }
    a{
        font-weight: normal;
    }
}
#collectionslink {
    cursor: pointer;
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    font-size: 14px;
    background: #999;
    border-radius: 0px 0px 0px 20px;
    padding: 5px 20px;
    border-bottom: 1px #dadada solid;
    margin: 0;
    font-weight: 300;
}
#collectionslink p {
    margin: 0; 
}

/*modal*/

.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
  width: 600px;
  padding-top: 100px;
	height: 50%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}

.modal-backdrop {
  background-color: transparent !important;
}