<div class="row">
    <h3>CDIL Digital Scholarship Projects &nbsp&nbsp<small class="text-muted"><a href="https://cdil.lib.uidaho.edu" target="_blank" rel="noopener">MORE...</a></small></h3>
    <!--{% comment %}
    <h2 style="color:white;">CDIL Digital Scholarship Projects</h2>
    {% for project in site.data.cdil %}
    <div class="col-lg-4 col-sm-6 centered">
        <a target="_blank" href="{{ project.link }}">
            <img src="{{project.image }}" alt="{{ project.title}}">
        </a>
        <h3 class="name"><a target="_blank" href="{{ project.link }}">{{ project.title }}</a></h3>
    </div>
    {% endfor %}
    {% endcomment %}-->
</div>
<div class="row py-3">
    <div class="card-deck" id="cdilInner">

    </div>
</div>