<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% include head.html %}
  </head>
  <body>
    {% include sidebar.html %}
    {% include collection-nav.html %}
    {% include collection-banner.html %}
    <main role="main">
      {{ content }}
    </main>
    {% include footer.html %}
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    {% include foot.html %}
    {% include all-collections-nav-json.html %}
  </body>
</html>