<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% include head.html %}
    {% if page.layout == "timeline" %}{% include timeline-head.html %}{% endif %}
  </head>
  <body {% if page.layout == "timeline" %}onload="onLoad();" onresize="onResize();"{% endif %}>
    {% include collection-nav.html %}
    {% if page.layout == "home-infographic" %}
    <div class="pt-5">
    {% include collection-banner.html %}
    </div>
    {% endif %}
    <main role="main">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include all-collections-nav-json.html %}
  </body>
</html>