---
layout: default
---

<div class="split-background">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3 col-12 px-0">
              <!-- page nav button -->
              <button id="mobilePageNav" class="btn btn-secondary d-md-none col-sm-12 px-0 rounded-0" type="button">
                  Search by: <span class="fas fa-chevron-down"></span>
              </button>
              <!-- page nav / sidebar -->
              {% include sidebar.html %}
          </div>
          <!-- page -->
          <div class="page-block col-md-9 col-xs-12">
            
            {% if page.url contains 'about' %}
            <main role="main" class="py-4 px-md-5 ml-3 mr-5">
                <!-- page content -->
                {{ content }}
            </main>
            {% else %}
            <main role="main" class="py-4 px-md-5">
                <!-- page content -->
                {{ content }}
            </main>
            {% endif %}

          </div>
      </div>
  </div>
</div>