---
layout: default
---

<div class="split-background">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 col-12 px-0">
              <!-- page nav button -->
              <button id="mobilePageNav" class="btn btn-secondary d-md-none col-sm-12 px-0 rounded-0" type="button">
                  Filter Collections <span class="fas fa-chevron-down"></span>
              </button>
              <!-- page nav / sidebar -->
              {% include browse-nav.html %}
          </div>
          <!-- page -->
          <div class="page-block col-md-10 col-xs-12">

              <main role="main" class="py-4 px-md-5">
                  <!-- page content -->
                  {{ content }}
              </main>

          </div>
      </div>
  </div>
</div>